@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Quicksand:wght@600&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('D:/Downloads/61208.jpg');
    background-color: rgba(0, 0, 0, 0.5);
}

.shit {
    opacity: 1;
}


.word {
    display: inline-block;
    opacity: 0;
    filter: blur(10px);
    margin: 0 5px;
    animation-name: fadeInBlur;
    animation-duration: 0.3s; 
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.style {
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    color: white;
    text-align: justify;
}

span {
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    color: white;
    text-align: justify;
}

.rounded-rectangle {
    display: flex;
    width: 80%;
    padding: 50px;
    background-color: #060606;
    border-radius: 10px;
    background-color: rgba(6, 6, 6, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}


@keyframes fadeInBlur {
    to {
        opacity: 1;
        filter: blur(0);
    }
}
